<div *ngIf="grabQueue$ | async as grabQueue" class="container" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxLayout="column" class="text">
        <a (click)="goTo()" href="javascript:void(0)">{{ grabQueue.link }}</a>
        <span><label>Count: </label>{{ grabQueue.count }}</span>
      </span>
  <span fxLayout="row">
        <mat-spinner *ngIf="grabQueue.loading" diameter="35"></mat-spinner>
        <button [disabled]="grabQueue.loading" style="margin-right: 5px" (click)="grab()" color="primary"
                mat-icon-button>
          <mat-icon>get_app</mat-icon>
        </button>
        <button [disabled]="grabQueue.loading" (click)="remove()" color="primary" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
  </span>
</div>
