@use '@angular/material' as mat;

@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Open, sans-serif'
);

$my-light-theme-primary: mat.define-palette(mat.$red-palette, 900);
$my-light-theme-accent: mat.define-palette(mat.$red-palette, 900);

$my-light-theme: mat.define-light-theme((
  color: (
    primary: $my-light-theme-primary,
    accent: $my-light-theme-accent,
  ),
  typography: $custom-typography,
)
);


$my-dark-theme-primary: mat.define-palette(mat.$grey-palette);
$my-dark-theme-accent: mat.define-palette(mat.$grey-palette);

$my-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-dark-theme-primary,
        accent: $my-dark-theme-accent,
      ),
      typography: $custom-typography,
    )
);
