<div class="dialog-container" fxLayout="column" style="height: 100%;">
  <div fxFlex="nogrow">
    <h2 class="no-wrap" mat-dialog-title>Scan</h2>
  </div>
  <mat-dialog-content fxFlex="grow" fxLayout="column">
    <div *ngIf="threadId == null">
      <form
        #f="ngForm"
        (ngSubmit)="submit(f)"
        autocomplete="off"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <mat-form-field fxFlex="grow">
          <input
            [(ngModel)]="input"
            matInput
            name="url"
            placeholder="Put a vipergirls.to link"
            required
          />
        </mat-form-field>
        <div>
          <button [disabled]="f.invalid" color="primary" mat-raised-button type="submit">Scan</button>
        </div>
      </form>
    </div>
    <ng-container *ngIf="threadId != null">
      <app-multi-post (done)="done($event)" [threadId]="threadId" style="height: 100%"></app-multi-post>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="addPosts()" *ngIf="multipost != null" color="primary" mat-raised-button type="submit">
      Download
    </button>
  </mat-dialog-actions>
</div>
