<mat-card class="mat-elevation-z4">
  <mat-action-list>
    <mat-list-item
      *ngIf="
        (post.status === 'COMPLETE' && post.done / post.total !== 1) ||
        post.status === 'ERROR' ||
        post.status === 'STOPPED'
      "
      (click)="onPostStart(); close()">
      <mat-icon matListItemIcon>play_arrow</mat-icon>
      <div matListItemTitle>
        {{ post.done / post.total === 0 ? 'Start' : 'Resume' }}
      </div>
    </mat-list-item>
    <mat-list-item
      *ngIf="
        post.status === 'DOWNLOADING' ||
        post.status === 'PARTIAL' ||
        post.status === 'PENDING'
      "
      (click)="onPostStop(); close()">
      <mat-icon matListItemIcon>pause</mat-icon>
      <div matListItemTitle>Stop</div>
    </mat-list-item>
    <mat-list-item (click)='onPostRename(); close()'>
      <mat-icon matListItemIcon>edit</mat-icon>
      <div matListItemTitle>Rename</div>
    </mat-list-item>
    <mat-list-item (click)="onPostDelete(); close()">
      <mat-icon matListItemIcon>delete</mat-icon>
      <div matListItemTitle>Remove</div>
    </mat-list-item>
    <mat-list-item (click)="openImages(); close()">
      <mat-icon matListItemIcon>list</mat-icon>
      <div matListItemTitle>Photos</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>open_in_new</mat-icon>
      <div matListItemTitle>Open link</div>
    </mat-list-item>
  </mat-action-list>
</mat-card>
