<h2 mat-dialog-title>Scan</h2>
<mat-dialog-content
  class="mat-typography"
  style="min-width: 50vw; min-height: 50vh">
  <mat-form-field appearance="outline" style="width: 100%; height: 100%; padding-top: 20px">
    <mat-label>Add new links</mat-label>
    <textarea
      [formControl]="formControl"
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
      matInput
      name="url"
      placeholder="Put each link in a new line"
      required></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="formControl.value" cdkFocusInitial>
    Scan
  </button>
</mat-dialog-actions>
