<h2 mat-dialog-title>Scan</h2>
<mat-dialog-content
  class="mat-typography"
  style="min-width: 50vw; min-height: 50vh">
  <mat-form-field appearance="outline" style="width: 100%; padding-top: 20px">
    <mat-label>Add new links</mat-label>
    <textarea
      [formControl]="formControl"
      [cdkTextareaAutosize]="true"
      [cdkAutosizeMinRows]="5"
      (paste)="onPaste($event)"
      matInput
      name="url"
      placeholder="Put each link in a new line"
      required></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="formControl.value">
    Scan
  </button>
</mat-dialog-actions>
