.checkbox {
    background-color: transparent;
}

.row-text {
    white-space: nowrap; 
    overflow: hidden;
    padding-right: 15px;
}

.row-text > span {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}