@import '~@angular/material/theming';

@mixin post-progress-renderer-component-theme($theme) {
  $red: mat-palette($mat-red);
  $grey: mat-palette($mat-grey);
  $green: mat-palette($mat-green);

  app-progress-cell .progress-bar .mat-progress-bar-fill::after {
    background-color: mat-color($grey, 400);
  }

  app-progress-cell .progress-bar .mat-progress-bar-buffer {
    background-color: mat-color($grey, 200);
  }

  app-progress-cell .error {
    background-color: mat-color($red, 50);
    & .progress-bar .mat-progress-bar-fill::after {
      background-color: mat-color($red, 300);
    }
    & .progress-bar .mat-progress-bar-buffer {
      background-color: mat-color($red, 100);
    }
  }

  app-progress-cell .downloading {
    background-color: mat-color($green, 50);
    & .progress-bar .mat-progress-bar-fill::after {
      background-color: mat-color($green, 300);
    }
    & .progress-bar .mat-progress-bar-buffer {
      background-color: mat-color($green, 100);
    }
  }

  app-progress-cell .complete {
    background-color: mat-color($green, 100);
    & .progress-bar .mat-progress-bar-fill::after {
      background-color: mat-color($green, 300);
    }
    & .progress-bar .mat-progress-bar-buffer {
      background-color: mat-color($green, 100);
    }
  }

  app-progress-cell .stopped {
    background-color: mat-color($grey, 100);
  }
}
