<div (contextmenu)="context($event)" class="container" style="height: 100%; background-color: white">
  <ng-container *ngIf="postState$ | async as postState">
    <div
      [ngClass]="{
        error: postState.status === 'ERROR',
        downloading: postState.status === 'DOWNLOADING',
        partial: postState.status === 'PARTIAL',
        complete: postState.status === 'COMPLETE',
        stopped: postState.status === 'STOPPED'
      }"
      class="progress-bar-back"
      style="position: relative; height: 100%; transition: background-color 0.5s;"
    >
      <div
        class="progress-foreground"
        fxLayout="row"
        fxLayoutAlign="start"
        fxLayoutGap="5px"
        style="background-color: transparent; width: 100%; height: 100%;"
      >
        <div class="checkbox" fxFlex="nogrow" style="width: 5px; height: 100%;"></div>
        <span class="row-text" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <span fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="icon" color="primary" [appPreview]="postState.previews">image</mat-icon>
            <p [title]="postState.title">{{
              postState.title
              }}</p>
          </span>
          <span [title]="postState.done + '/' + postState.total + ' from ' + postState.hosts"
          >{{ postState.done + '/' + postState.total }} from {{ postState.hosts }}</span>
        </span>
      </div>
      <div class="progress-bar" color="accent" style="position: absolute; width: 100%; top: 37px; padding: 0 10px">
        <mat-progress-bar *ngIf="(loaded | async)" [value]="postState.progress" color="primary"
                          mode="determinate"></mat-progress-bar>
      </div>
    </div>
  </ng-container>
</div>
