.checkbox {
    background-color: transparent;
}

.row-text {
  white-space: nowrap;
  overflow: hidden;
  padding-right: 15px;
}

.row-text > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & .icon {
    margin: 0 5px;
    cursor: pointer;
  }
}

.title > p {
  line-height: normal;
  margin: 0;
}

.progress-bar {
  position: absolute;
  width: 100%;
  top: 47px;
  padding: 0 10px
}
