.progress-bar-back {
  transition: background-color 0.5s;
}
.pending-back {
  background-color: snow;
}

.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}

section {
  width: 100%;
  position: absolute;
  top: 48px;
  padding: 10px;
}

.details {
  line-height: 24px;
}

.value {
  padding-left: 5px;
}
