<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <div style="width: 100%; display: flex; justify-content: space-between">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        ">
        <button
          mat-icon-button
          matTooltip="Add links"
          (click)="openScanDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <ng-container *ngIf="selectedTab === 0">
          <mat-divider
            [vertical]="true"
            style="height: 20px; flex-grow: 0"></mat-divider>
          <button (click)="startClick()" mat-icon-button matTooltip="Start">
            <mat-icon>skip_next</mat-icon>
          </button>
          <button (click)="stopClick()" mat-icon-button matTooltip="Stop">
            <mat-icon>stop</mat-icon>
          </button>
          <mat-divider
            [vertical]="true"
            style="height: 20px; flex-grow: 0"></mat-divider>
          <ng-container *ngIf="handsetPortrait$ | async as handsetPortrait">
            @if (!handsetPortrait.matches) {
            <button
              [disabled]="disableSelected()"
              (click)="startSelectedClick()"
              mat-icon-button
              matTooltip="Start selected">
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button
              [disabled]="disableSelected()"
              (click)="stopSelectedClick()"
              mat-icon-button
              matTooltip="Stop selected">
              <mat-icon>pause</mat-icon>
            </button>
            <button
              [disabled]='disableSelected()'
              (click)='renameSelectedClick()'
              mat-icon-button
              matTooltip='Rename selected'>
              <mat-icon>edit</mat-icon>
            </button>
              <button
              [disabled]="disableSelected()"
              (click)="removeSelectedClick()"
              mat-icon-button
              matTooltip="Remove selected">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </ng-container>
          <mat-divider
            [vertical]="true"
            style="height: 20px; flex-grow: 0"></mat-divider>
          <button
            (click)="clearDownloadsClick()"
            mat-icon-button
            matTooltip="Clear completed">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="selectedTab === 1">
          <button
            (click)="clearThreadsClick()"
            mat-icon-button
            matTooltip="Remove all">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="selectedTab === 2">
          <button
            (click)="clearLogsClick()"
            mat-icon-button
            matTooltip="Clear all">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </ng-container>
      </div>
      <div>
        <button mat-icon-button matTooltip="Settings" (click)="settingsClick()">
          <mat-icon>settings</mat-icon>
        </button>
        <!--        <button mat-icon-button matTooltip="About">-->
        <!--          <mat-icon>info</mat-icon>-->
        <!--        </button>-->
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
