.status-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    padding: 2px 0;
    z-index: 9999;
}

span {
    margin: 0 8px;
    user-select: none;
    font-size: small;
}
