@import '~@angular/material/theming';

@mixin about-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .about-link, .about-icon {
    color: mat-color($foreground, text);
  }
}
