@use 'sass:map';
@use '@angular/material' as mat;

@mixin about-component-theme($theme) {
  $theme-color: mat.get-color-config($theme);
  $primary: map.get($theme-color, 'primary');

  .about-link, .about-icon {
    color: mat.get-color-from-palette($primary, '900-contrast');
  }
}
