<table [dataSource]="dataSource" class="mat-elevation-z4" mat-table>
  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'time')"
    matColumnDef="time">
    <th *matHeaderCellDef mat-header-cell>Time</th>
    <td
      *matCellDef="let element"
      [title]="element.time"
      class="truncate-cell"
      mat-cell>
      {{ element.time }}
    </td>
  </ng-container>

  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'type')"
    matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell>Type</th>
    <td
      *matCellDef="let element"
      [title]="element.type"
      class="truncate-cell"
      mat-cell>
      {{ element.type }}
    </td>
  </ng-container>

  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'status')"
    matColumnDef="status">
    <th *matHeaderCellDef mat-header-cell>Status</th>
    <td
      *matCellDef="let element"
      [title]="element.statusSignal()"
      class="truncate-cell"
      mat-cell>
      {{ element.statusSignal() }}
    </td>
  </ng-container>

  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'message')"
    matColumnDef="message">
    <th *matHeaderCellDef mat-header-cell>Message</th>
    <td
      *matCellDef="let element"
      [title]="element.messageSignal()"
      class="truncate-cell"
      mat-cell>
      {{ element.messageSignal() }}
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay()" mat-header-row></tr>
  <tr
    (click)="onClick(row)"
    *matRowDef="let row; columns: columnsToDisplay()"
    [ngClass]="{ selected: selection.isSelected(row) }"
    class="row"
    mat-row></tr>
</table>
