<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger level="debug" name="org.apache.http.headers"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
