<div fxLayout="column" class="dialog-container" style="height: 100%;">
  <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="no-wrap" mat-dialog-title>Settings</h2>
    <mat-slide-toggle (change)="updateTheme()" [(ngModel)]="darkTheme"
    >{{ darkTheme ? 'Dark theme' : 'Light theme' }}
    </mat-slide-toggle>
  </div>
  <mat-dialog-content fxFlex="grow">
    <div class="container">
      <mat-tab-group dynamicHeight="true">
        <mat-tab label="General Settings">
          <form [formGroup]="generalSettingsForm" autocomplete="off">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
              <mat-form-field fxFlex="grow">
                <input
                  formControlName="downloadPath"
                  matInput
                  placeholder="Download Path"
                  name="downloadPath"
                  required
                />
              </mat-form-field>
              <button fxFlex="100px" (click)="browse()" mat-raised-button *ngIf="electronService.isElectronApp">
                Browse
              </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
              <mat-form-field fxFlex="grow">
                <input
                  formControlName="maxThreads"
                  matInput
                  max="4"
                  min="1"
                  name="maxThreads"
                  placeholder="Max concurrent downloads per host"
                  required
                  type="number"
                />
              </mat-form-field>

              <mat-form-field fxFlex="grow">
                <input
                  formControlName="maxTotalThreads"
                  matInput
                  min="0"
                  name="maxTotalThreads"
                  placeholder="Max global concurrent downloads"
                  required
                  type="number"
                />
              </mat-form-field>
            </div>

            <mat-checkbox color="primary" formControlName="subLocation" name="subLocation"
            >Save posts in sub folders
            </mat-checkbox>

            <mat-checkbox
              *ngIf="generalSettingsForm.get('subLocation').value"
              color="primary"
              formControlName="threadSubLocation"
              name="threadSubLocation"
              style="margin-left: 15px"
            >Create a subfolder per thread
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="forceOrder" name="forceOrder"
            >Force image ordering (prepend incremental numbers)
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="autoStart" name="autoStart"
            >Auto start downloads
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="clearCompleted" name="clearCompleted"
            >Clear Finished
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="viewPhotos" name="viewPhotos">
              Enable photo gallery
            </mat-checkbox>
            <div style="margin-left: 15px">
              Cache size: {{(cacheSize | async).size}}
              <button (click)="clearCache()" [disabled]="(cacheClearLoading | async)" color="primary"
                      mat-stroked-button>
                <mat-icon>clear</mat-icon>
                <span>Clear</span></button>
            </div>

            <mat-slide-toggle color="primary" formControlName="vLogin" name="vLogin">
              ViperGirls Authentication
            </mat-slide-toggle>

            <section *ngIf="generalSettingsForm.get('vLogin').value">
              <div>
                <mat-form-field>
                  <input formControlName="vUsername" matInput name="vUsername" placeholder="ViperGirls Username"/>
                </mat-form-field>

                <mat-form-field>
                  <input
                    formControlName="vPassword"
                    type="password"
                    matInput
                    placeholder="ViperGirls Password"
                    name="vPassword"
                  />
                </mat-form-field>

                <mat-checkbox color="primary" formControlName="vThanks" name="vThanks">Leave thanks</mat-checkbox>
              </div>
            </section>
          </form>
        </mat-tab>
        <mat-tab label="Desktop Integration">
          <form [formGroup]="desktopSettingsForm" autocomplete="off">
            <mat-checkbox *ngIf="electronService.isElectronApp" color="primary" formControlName="desktopClipboard"
                          name="desktopClipboard"
            >Monitor Clipboard
            </mat-checkbox
            >

            <mat-checkbox color="primary" formControlName="notification" name="notification"
            >Enable system notifications
            </mat-checkbox
            >
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxFlex="nogrow" align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button
      mat-raised-button
      (click)="onSubmit()"
      color="primary"
      type="submit"
      [disabled]="
        (generalSettingsForm.pristine && desktopSettingsForm.pristine) ||
        generalSettingsForm.invalid ||
        desktopSettingsForm.invalid ||
        loading
      "
    >
      Apply
    </button>
  </mat-dialog-actions>
</div>
