@import '~@angular/material/theming';

@mixin post-detail-renderer-component-theme($theme) {
  $blue: mat-palette($mat-blue);

  .progress-bar .mat-progress-bar-fill::after {
    background-color: mat-color($blue, 300);
  }

  .progress-bar .mat-progress-bar-buffer {
    background-color: mat-color($blue, 100);
  }
}
