<table [dataSource]="dataSource" class="mat-elevation-z4" mat-table>
  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'title')"
    matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [aria-label]="checkboxLabel()"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        color="primary">
      </mat-checkbox>
      Title
    </th>
    <td
      *matCellDef="let element"
      [title]="element.title"
      class="truncate-cell"
      mat-cell>
      {{ element.title }}
    </td>
  </ng-container>

  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'link')"
    matColumnDef="link">
    <th *matHeaderCellDef mat-header-cell>Link</th>
    <td
      *matCellDef="let element"
      [title]="element.link"
      class="truncate-cell"
      mat-cell>
      {{ element.link }}
    </td>
  </ng-container>

  <ng-container
    *ngIf="isDisplayed(columnsToDisplay(), 'total')"
    matColumnDef="total">
    <th *matHeaderCellDef mat-header-cell>Total</th>
    <td *matCellDef="let element" class="truncate-cell" mat-cell>
      {{ element.total }}
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay()" mat-header-row></tr>
  <tr
    (click)="onClick(row)"
    (contextmenu)="onContextMenu($event, row)"
    (dblclick)="onRowDoubleClicked(row)"
    *matRowDef="let row; columns: columnsToDisplay()"
    [ngClass]="{ selected: selection.isSelected(row) }"
    class="row"
    mat-row></tr>
</table>
