<div *ngIf="loading" class="overlay loading" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<div fxLayout="column" style="height: 100%">
  <div fxFlex="nogrow">
    <form #f="ngForm" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" autocomplete="off">
      <mat-form-field fxFlex="grow">
        <input name="url" [(ngModel)]="input" matInput placeholder="Put a vipergirls.to link" required>
      </mat-form-field>
      <div>
        <button (click)="submit(f)" type="button" mat-raised-button color="primary" [disabled]="f.invalid">Grab</button>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxFlex="grow">
    <app-posts style="height: 100%; width: 100%;" fxFlex="nogrow"></app-posts>
  </div>
</div>