<div class="dialog-container" fxLayout="column" style="height: 100%;">
  <h2 fxFlex="nogrow" mat-dialog-title>Alternative title</h2>
  <mat-dialog-content fxFlex="grow">

    <form [formGroup]="form" autocomplete="off" fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field *ngIf="data.post?.metadata?.resolvedNames.length > 0">
        <mat-label>Choose a title</mat-label>
        <mat-select formControlName="altNameSelect">
          <mat-option *ngFor="let altName of data.post?.metadata?.resolvedNames" [value]="altName">
            {{altName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="altNameInput" matInput name="altNameInput" placeholder="New gallery name" required/>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" fxFlex="nogrow">
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="rename()" [disabled]="form.invalid" color="primary" mat-dialog-close="yes" mat-raised-button>
      Rename
    </button>
  </mat-dialog-actions>
</div>

