@use 'sass:map';
@use '@angular/material' as mat;

@mixin app-component-theme($theme) {
  $theme-color: mat.get-color-config($theme);
  $primary: map.get($theme-color, 'primary');

  button.add-button {
    background-color: mat.get-color-from-palette($primary, 900);
  }
}
