<div *ngIf="loaded | async; else loading" [ngClass]="{ electron: electron | async }" fxLayout="column"
     id="app-container">
  <div fxFlex="nogrow" id="app-header">
    <app-toolbar></app-toolbar>
  </div>
  <div fxFlex="grow" id="app-body" style="margin-bottom: 20px;">
    <router-outlet></router-outlet>
  </div>
  <app-status-bar style="width: 100%"></app-status-bar>
</div>
<ng-template #loading>
  <div class="overlay loading" fxLayout="column" fxLayoutAlign="center center">
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
</ng-template>

