<div fxLayout="column" *ngIf="connecting()" class="overlay loading" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
  <h2>Loading...</h2>
</div>
<div fxLayout="column" *ngIf="noConnectionState()" class="overlay no-connection" fxLayoutAlign="center center">
  <mat-icon class="overlay-icon">error</mat-icon>
  <h2>The app seems to be shutdown</h2>
</div>
<div [ngClass]="{ electron: electronService.isElectronApp }" fxLayout="column" id="app-container">
  <div id="app-header" fxFlex="nogrow">
    <app-toolbar></app-toolbar>
  </div>
  <div id="app-body" fxFlex="grow">
    <router-outlet></router-outlet>
    <app-status-bar style="width: 100%"></app-status-bar>
  </div>
</div>
