#logo {
  height: 48px;
  margin-right: 10px;
  background-image: url('../assets/logo.png');
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

#title {
  user-select: none
}

.overlay-icon {
  font-size: 128px;
  width: 128px;
  height: 128px;
}

.no-connection {
  color: #eb6060;
}

.electron {
  margin-top: 30px;
}
