.mat-column-progress {
  text-align: center;
  width: 150px;
}

.mat-column-status {
  text-align: center;
  width: 25px;
}

.mat-column-index {
  text-align: center;
  width: 25px;
  max-width: 100px;
}
