<h2 mat-dialog-title>Thread</h2>
<mat-dialog-content class="mat-typography">
  <table [dataSource]="dataSource" class="mat-elevation-z4" mat-table>
    <ng-container
      *ngIf="isDisplayed(columnsToDisplay(), 'number')"
      matColumnDef="number">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [aria-label]="checkboxLabel()"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          color="primary">
        </mat-checkbox>
        Number
      </th>
      <td
        *matCellDef="let element"
        [title]="element.number"
        class="truncate-cell"
        mat-cell>
        {{ element.number }}
      </td>
    </ng-container>

    <ng-container
      *ngIf="isDisplayed(columnsToDisplay(), 'title')"
      matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>Title</th>
      <td
        *matCellDef="let element"
        [title]="element.title"
        class="truncate-cell"
        mat-cell>
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container
      *ngIf="isDisplayed(columnsToDisplay(), 'url')"
      matColumnDef="url">
      <th *matHeaderCellDef mat-header-cell>URL</th>
      <td
        *matCellDef="let element"
        [title]="element.url"
        class="truncate-cell"
        mat-cell>
        {{ element.url }}
      </td>
    </ng-container>

    <ng-container
      *ngIf="isDisplayed(columnsToDisplay(), 'hosts')"
      matColumnDef="hosts">
      <th *matHeaderCellDef mat-header-cell>URL</th>
      <td
        *matCellDef="let element"
        [title]="element.hosts"
        class="truncate-cell"
        mat-cell>
        {{ element.hosts }}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay()" mat-header-row></tr>
    <tr
      (click)="onClick(row, $event)"
      (dblclick)="onRowDoubleClicked(row)"
      *matRowDef="let row; columns: columnsToDisplay()"
      [ngClass]="{ selected: selection.isSelected(row) }"
      class="row"
      mat-row></tr>
  </table>

  @if (dataSource.loading()) {
  <div style="display: flex; justify-content: center">
    <p>Loading</p>
  </div>

  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>
    Cancel
  </button>
  <button (click)="downloadSelected()" color="primary" mat-flat-button>
    Download
  </button>
</mat-dialog-actions>
