<div class="dialog-container" fxLayout="column" style="height: 100%;">
  <div fxFlex="nogrow">
    <h2 class="no-wrap" mat-dialog-title>{{ dialogData.title }}</h2>
  </div>
  <mat-dialog-content fxFlex="grow">
    <ag-grid-angular [gridOptions]="gridOptions" class="ag-theme-alpine" style="width: 100%; height: 100%;">
    </ag-grid-angular>
  </mat-dialog-content>
  <mat-dialog-actions align="end" fxFlex="nogrow">
    <button (click)="onNoClick()" color="primary" mat-raised-button>Close</button>
  </mat-dialog-actions>
</div>
