.container {
  height: 100%;
}

.masonry {
  width: 100%;
}

.masonry-brick {
  height: 250px;
  width: 250px;
  display: inline-block;
  cursor: pointer;
  margin: 0 3px;
  transition: opacity 0.5s ease-in, visibility 0.5s;
}

img {
  object-fit: cover;
  height: 250px;
  width: 250px;
}
