<div class="dialog-container" fxLayout="column" style="height: 100%;">
  <div fxFlex="nogrow">
    <h2 class="no-wrap" mat-dialog-title>{{ dialogData.title }}</h2>
  </div>
  <mat-dialog-content fxFlex="grow">
    <div class="container">
      <div class="masonry ">
        <ng-container *ngFor="let img of images | async; let i=index">
          <figure class="masonry-brick " fxLayout="row" fxLayoutAlign="center center" style="position: relative;">
            <mat-progress-spinner *ngIf="!img._initialized" mode="indeterminate"
                                  style="position: absolute;"></mat-progress-spinner>
            <img (click)="openSlideshow(i)" (load)="loaded(img)" [src]="img.msrc"/>
          </figure>
        </ng-container>
        <app-photo-swipe #photoSwipe></app-photo-swipe>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" fxFlex="nogrow">
    <button (click)="refresh()" color="primary" mat-raised-button>
      <mat-icon>refresh</mat-icon>
      <span>Refresh</span></button>
    <button mat-dialog-close mat-raised-button>Close</button>
  </mat-dialog-actions>
</div>
