.or-spacer-vertical {
  display: inline-block;
  width: 1px;
  position: relative;

  .mask {
    overflow: hidden;
    width: 10px;
    height: 50px;
  }

  &.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 0 3px black;
  }
}

#global-search {
  font-size: 16px;
  line-height: 18px;
}

.search-field {
  width: 100%;
}

.logged-user {
  font-size: 16px;
  display: inline;
}
