@import '~@angular/material/theming';

@mixin toolbar-theme($theme, $dark: false) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-toolbar .mat-toolbar {
    @if $dark {
      background: mat-color($background);
    } @else {
      background: mat-color($accent);
    }
  }

  app-toolbar .mat-form-field-label {
    @if $dark {
      color: mat-color($foreground, text);
    } @else {
      color: mat-color($background, background);
    }
  }

  app-toolbar .mat-icon {
    @if $dark {
      color: mat-color($foreground, text);
    } @else {
      color: mat-color($background, background);
    }
  }

  app-toolbar .mat-form-field {
    @if $dark {
      color: mat-color($foreground, text);
    } @else {
      color: mat-color($background, background);
    }
  }

  app-toolbar .logged-user {
    @if $dark {
      color: mat-color($foreground, text);
    } @else {
      color: mat-color($background, background);
    }
  }

  app-toolbar .mat-icon-button.mat-button-disabled .mat-icon {
    @if $dark {
      color: mat-color($foreground, disabled-text);
    } @else {
      color: mat-color($foreground, disabled-text);
    }
  }

  app-toolbar .add-button .mat-icon {
    @if $dark {
      color: mat-color($foreground);
    } @else {
      color: mat-color($accent);
    }
  }
}
