<div class="dialog-container" fxLayout="column" style="height: 100%;">
  <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="no-wrap" mat-dialog-title>Preferences</h2>
    <mat-slide-toggle (change)="updateTheme()" [(ngModel)]="darkTheme"
    >{{ darkTheme ? 'Dark theme' : 'Light theme' }}
    </mat-slide-toggle>
  </div>
  <mat-dialog-content fxFlex="grow">
    <div class="container">
      <mat-tab-group animationDuration="0ms" dynamicHeight="true">
        <mat-tab label="Download">
          <form [formGroup]="downloadSettingsForm" autocomplete="off" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
              <mat-form-field fxFlex="grow">
                <input
                  formControlName="downloadPath"
                  matInput
                  name="downloadPath"
                  placeholder="Download Path"
                  required
                />
              </mat-form-field>
            </div>

            <section class="input">
              <mat-checkbox color="primary" formControlName="autoStart" name="autoStart"
              >Auto start downloads
              </mat-checkbox>
              <mat-icon
                matTooltip="Gallery download will start as soon as it is added to the download queue, download will not automatically start otherwise"
                svgIcon="help-circle-outline"></mat-icon>
            </section>

            <section class="input">
              <mat-checkbox color="primary" formControlName="forumSubfolder" name="forumSubfolder"
              >Save posts in sub folders
              </mat-checkbox>
              <mat-icon matTooltip="Gallery will be downloaded in sub folders based on the forum section they belong to"
                        svgIcon="help-circle-outline"></mat-icon>
            </section>

            <section class="input">
              <mat-checkbox
                color="primary"
                formControlName="threadSubLocation"
                name="threadSubLocation"
              >Create a subfolder per thread
              </mat-checkbox>
              <mat-icon matTooltip="Gallery will be downloaded inside a sub folder based on the thread they belong to"
                        svgIcon="help-circle-outline"></mat-icon>
            </section>

            <section class="input">
              <mat-checkbox color="primary" formControlName="forceOrder" name="forceOrder"
              >Order images
              </mat-checkbox>
              <mat-icon
                matTooltip="Downloaded images will be ordered by adding a number at the start of the filename e.g 001_,002_..."
                svgIcon="help-circle-outline"></mat-icon>
            </section>

            <section class="input">
              <mat-checkbox color="primary" formControlName="appendPostId" name="appendPostId"
              >Append post id to download folder
              </mat-checkbox>
              <mat-icon matTooltip="Downloaded gallery name will include the post id at the end"
                        svgIcon="help-circle-outline"></mat-icon>
            </section>

            <section class="input">
              <mat-checkbox color="primary" formControlName="clearCompleted" name="clearCompleted"
              >Clear Finished
              </mat-checkbox>
              <mat-icon
                matTooltip="Galleries will be automatically removed from the download queue once successfully completed"
                svgIcon="help-circle-outline"></mat-icon>
            </section>
          </form>
        </mat-tab>
        <mat-tab label="Connection">
          <form [formGroup]="connectionSettingsForm" autocomplete="off" fxLayout="column">
            <mat-form-field fxFlex="grow">
              <input
                formControlName="maxTotalThreads"
                matInput
                max="12"
                min="0"
                name="maxTotalThreads"
                placeholder="Global concurrent downloads"
                required
                type="number"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="maxThreads"
                matInput
                max="4"
                min="1"
                name="maxThreads"
                placeholder="Concurrent downloads per host"
                required
                type="number"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="timeout"
                matInput
                max="300"
                min="1"
                name="timeout"
                placeholder="Connection timeout"
                required
                type="number"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="maxAttempts"
                matInput
                max="10"
                min="1"
                name="maxAttempts"
                placeholder="Maximum attempts"
                required
                type="number"
              />
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="ViperGirls">
          <form [formGroup]="viperGirlsSettingsForm" autocomplete="off" fxLayout="column">
            <mat-form-field>
              <mat-label>Select a proxy</mat-label>
              <mat-select formControlName="host" name="host">
                <mat-option *ngFor="let mirror of mirrors | async" [value]="mirror">{{mirror}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-slide-toggle color="primary" formControlName="login" name="login">
              Enable ViperGirls Authentication
            </mat-slide-toggle>

            <section *ngIf="viperGirlsSettingsForm.controls['login'].value" class="vg-inputs" fxLayout="column">
              <mat-form-field>
                <input formControlName="username" matInput name="username" placeholder="ViperGirls Username"/>
              </mat-form-field>

              <mat-form-field>
                <input
                  formControlName="password"
                  matInput
                  name="password"
                  placeholder="ViperGirls Password"
                  type="password"
                />
              </mat-form-field>

              <section class="input">
                <mat-checkbox color="primary" formControlName="thanks" name="thanks">Send a like to poster
                </mat-checkbox>
                <mat-icon matTooltip="Automatically send a like to the poster"
                          svgIcon="help-circle-outline"></mat-icon>
              </section>
            </section>
          </form>
        </mat-tab>
        <mat-tab label="Event Log">
          <form [formGroup]="eventLogSettingsForm" autocomplete="off" fxLayout="column">
            <section class="full-width" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
              <mat-form-field fxFlex="grow">
                <input
                  formControlName="maxEventLog"
                  matInput
                  max="10000"
                  min="100"
                  name="maxEventLog"
                  placeholder="Maximum records"
                  required
                  type="number"
                />
              </mat-form-field>
              <mat-icon
                matTooltip="Oldest records will be removed once the maximum amount is reached"
                svgIcon="help-circle-outline">
              </mat-icon>
            </section>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" fxFlex="nogrow">
    <button mat-dialog-close mat-raised-button>Close</button>
    <button
      (click)="onSubmit()"
      [disabled]="
        (desktopSettingsForm.pristine && connectionSettingsForm.pristine && downloadSettingsForm.pristine && viperGirlsSettingsForm.pristine && eventLogSettingsForm.pristine) ||
        viperGirlsSettingsForm.invalid ||
        downloadSettingsForm.invalid ||
        connectionSettingsForm.invalid ||
        desktopSettingsForm.invalid ||
        eventLogSettingsForm.invalid ||
        loading
      "
      color="primary"
      mat-raised-button
      type="submit"
    >
      Apply
    </button>
  </mat-dialog-actions>
</div>
