@import '~@angular/material/theming';

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

@mixin grid-theme($theme, $dark: false) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $red: mat-palette($mat-red);
  $grey: mat-palette($mat-grey);
  $green: mat-palette($mat-green);
  $orange: mat-palette($mat-orange);
  $blue: mat-palette($mat-blue);

  .ag-theme-alpine {
    @include ag-theme-alpine((
      odd-row-background-color: null,
      row-border-color: transparent,
      row-hover-color: null,
      font-family: (Open, sans-serif),
      font-size: 13px
    ));

    .ag-checkbox-input-wrapper.ag-checked::after {
      color: mat-color($accent);
    }

    .ag-checkbox {
      margin-right: 5px;
    }

    .ag-header-row, .ag-sort-order {
      color: mat-color($foreground, text);
    }

    .ag-header, .ag-header .ag-icon {
      color: mat-color($foreground, text);
      background-color: mat-color($background, background);
    }

    .ag-root-wrapper {
      background-color: mat-color($background, background);

      & .ag-header-cell {
        background-color: mat-color($background, background);
      }
    }

    .ag-row {
      background-color: mat-color($background, background);
      color: mat-color($foreground, text);

      & a {
        color: mat-color($foreground, text);
      }
    }

    .ag-row-selected {
      background-color: transparent;
    }

    .ag-center-cols-viewport {
      overflow: hidden;
    }

    .ag-cell-focus, .ag-cell {
      border: none !important;
    }

    .ag-row-selected {
      background-color: mat-color($background, selected-button) !important;
    }

    .text-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /* Progress bar section */

    .native-progress-bar-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .native-progress-bar-back {
      height: 4px;
      width: 100%;
      background-color: lightgrey;
    }

    .native-progress-bar-front {
      transition: width 0.75s;
      height: 100%;
      @if $dark {
        background-color: #4a4a4a;
      } @else {
        background-color: mat-color($primary);
      }
    }

    /* End progress bar section */

    /* Status section */

    .native-status-container {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .native-status-icon {
      height: 24px;
      margin-right: 5px;
    }

    .native-status-text {
      line-height: 24px;
    }

    .native-status-icon.error {
      color: mat-color($red, 400);
    }

    .native-status-icon.partial {
      color: mat-color($orange, 400);
    }

    .native-status-icon.downloading {
      color: mat-color($blue, 400);
    }

    .native-status-icon.complete {
      color: mat-color($green, 400);
    }

    .native-status-icon.pending {
      color: mat-color($grey, 600);
    }

    .native-status-icon.stopped {
      color: mat-color($grey, 600);
    }

    /* End status section */

    /* Title section */

    .cell-icon {
      @if $dark {
        color: mat-color($accent);
      } @else {
        color: mat-color($primary);
      }
    }

    /* End title section */
  }
}
