<mat-card class="mat-elevation-z4">
  <mat-action-list>
    <button
      (click)="restart()"
      *ngIf="
            (postState.status === 'COMPLETE' && postState.progress !== 100) ||
            postState.status === 'ERROR' ||
            postState.status === 'STOPPED'
          "
      mat-list-item
    >
      <mat-icon>play_arrow</mat-icon>
      <span>{{postState.progress == 0 ? 'Start' : 'Resume'}}</span>
    </button>
    <button
      (click)="stop()"
      *ngIf="postState.status === 'DOWNLOADING' || postState.status === 'PARTIAL' || postState.status === 'PENDING'"
      mat-list-item
    >
      <mat-icon>stop</mat-icon>
      <span>Stop</span>
    </button>
    <button (click)="remove()" mat-list-item>
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
    <button (click)="seeDetails()" mat-list-item>
      <mat-icon>list</mat-icon>
      <span>Photos</span>
    </button>
    <button (click)="useAltTitle()" mat-list-item>
      <mat-icon>edit</mat-icon>
      <span>Use alternative title</span>
    </button>
    <button (click)="openRenameDialog()" mat-list-item>
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button (click)="goTo()" mat-list-item>
      <mat-icon>open_in_new</mat-icon>
      <span>Open link</span>
    </button>
    <button (click)="open()" *ngIf="electronService.isElectronApp" mat-list-item>
      <mat-icon>folder</mat-icon>
      <span>Download Location</span>
    </button>
  </mat-action-list>
</mat-card>
